
*{
  padding: 0;
  margin: 0;
  border: 0;

}
*,*::before,*::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{
  outline: none;
}
a:focus,a:active{
  outline: none;
}
nav,footer,header,aside{
  display: block;
}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{
  font-family: inherit;
}
input::-ms-clear{
  display: none;
}
button{
 cursor: pointer;
 background-color: transparent;
}
button::-moz-focus-inner{
  padding: 0;
  border: 0;
}
a,a:visited{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul li {
  list-style: none;
}
img{
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
  font-size: inherit;
  font-weight: 400;
}


/*!============================*/


.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: clip;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(54, 49, 49);
}
.menu {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  
  border-radius: 30px;
  overflow: hidden;
}
.menu__list {
  padding: 30px 0;
  display: grid;
  gap: 10px;

  color: black;
}
.menu-item {
  position: relative;
  overflow: hidden;

}
.menu-item:hover .menu-link,
.menu-item.active .menu-link{
  color: #fff;
}
.menu-link {
  color: rgb(151, 141, 141);
  text-transform: uppercase;

  padding: 20px 80px 20px 30px;
  display: block;

  transition: color 0.8s ease 0s;
}
.menu__active {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
}

.menu__active span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  transition: all 0.5s ease 0s;

  border-radius: 0 5px 5px 0;

  background-color: #fff;
}



/** ANIMATION LOAD */


.menu{
  border: 1px solid transparent;
  box-shadow: inset 0 0 15px 0 transparent;
}
.loaded .menu{
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.25);

  transition: all 1s easy 0s;
}


.menu-link{
  transform: translateX(-100%);
}
.loaded .menu-link{
  transform: translateX(0);
  transition: transform 1s ease;
}

.loaded .menu-item:nth-child(1) .menu-link{
  transition-delay: 0.2s;
}
.loaded .menu-item:nth-child(2) .menu-link{
  transition-delay: 0.4s;
}
.loaded .menu-item:nth-child(3) .menu-link{
  transition-delay: 0.6s;
}
.loaded .menu-item:nth-child(4) .menu-link{
  transition-delay: 0.8s;
}
.loaded .menu-item:nth-child(5) .menu-link{
  transition-delay: 1s;
}


.menu__active{
  transform: translateX(-100%);
}
.loaded .menu__active{
  transform: translateX(0);
  transition: transform 0.5s ease 2s;
}